
:root {
  font-size: calc(.4em + 2vw);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: linear-gradient(180deg, #786452, #47392c);
}